/target
/classes
/checkouts
/log
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/resources/public/cljs-out
.rebel_readline_history
.hgignore
.hg/
.lsp/
.clj-kondo/.cache
.clj-kondo/com.github.seancorfield
