{:linters {:unresolved-symbol {:exclude [(clojure.test/is [comparable?
                                                           html-response-with-content?
                                                           http-success?
                                                           http-not-found?
                                                           seq-of-maps-like?])
                                         (secretary.core/defroute weclome-path)
                                         (xtdb-money.xtdb/query-map)
                                         (xtdb-money.core/dbfn)
                                         (xtdb-money.helpers/dbtest)]}
           :clojure-lsp/unused-public-var {:exclude #{xtdb-money.datomic/apply-schema}}}}
