{:linters {:unresolved-symbol {:exclude [(clojure.test/is [seq-of-maps-like?
                                                           comparable?])
                                         (xtdb-money.xtdb/query-map)
                                         (xtdb-money.core/dbfn)]}}}
