[{:db/ident :price/commodity-id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Identifies the commodity to which the price belongs"}
 {:db/ident :price/trade-date
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The date on which this price was paid for the commodity"}
 {:db/ident :price/value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "The amount paid for one unit of the commodity"}]
