[{:db/ident :transaction/entity-id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Identifies the entity to which the transaction belongs"}
 {:db/ident :transaction/transaction-date
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The date on which the transaction occurred"}
 {:db/ident :transaction/debit-account-id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Identifies the account debited by this transaction"}
 {:db/ident :transaction/debit-index
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/noHistory true
  :db/doc "The ordinal position of this transaction with the account being debited"}
 {:db/ident :transaction/debit-balance
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/noHistory true
  :db/doc "The balance of the account being debited as a result of this transaction"}
 {:db/ident :transaction/credit-account-id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Identifies the account credited by this transaction"}
 {:db/ident :transaction/credit-index
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/noHistory true
  :db/doc "The ordinal position of this transaction with the account being credited"}
 {:db/ident :transaction/credit-balance
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/noHistory true
  :db/doc "The balance of the account being credited as a result of this transaction"}
 {:db/ident :transaction/quantity
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "The quantity of the transaction"}
 {:db/ident :transaction/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A description of the transaction"}
 {:db/ident :transaction/correlation-id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "An ID the indicates this transaction is part of a larger, compound transaction"}]
